.query-container {
  width: 500px;
  height: 320px;
  background-color: #fff;
  position: fixed;
  left: calc(50% - 250px);
  top: calc(50% - 160px);
  z-index: 15;
  animation: popup 0.2s ease-in-out 0s 1;
}

.query-title {
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 27px;

  color: rgba(75, 75, 75, 1);
}
.query-box-container {
  width: 100%;

  color: rgba(75, 75, 75, 0.8);
  text-align: center;
}
.query-by-local {
  position: relative;
  top: 30px;
  font-size: 16px;
  line-height: 50px;
}
.query-captcha {
  position: absolute;
  left: calc(50% - 155px);
  top: calc(50% - 132px);
  z-index: 10;
  animation: popup 0.2s ease-in-out 0s 1;
}
#ImgVerif {
  background-color: #fff;
  box-shadow: 0 0 12px rgba(75, 75, 75, 0.3);
  width: 310px !important;
  height: 280px;
}
.query-input-box {
  width: 280px;
  height: 40px;
  margin-top: 30px;
}
.query-input-mail {
  width: 280px;
  height: 40px;
}
.ant-tabs-tab {
  font-size: 16px;
  line-height: 23px;
  border: 1px solidrgba(75, 75, 75, 0.3);
}
.query-alert {
  width: 100%;
  text-align: center;
  line-height: 40px;
  color: rgba(75, 75, 75, 0.9);
  opacity: 0.7;
}
@media screen and (max-width: 780px) {
  .query-container {
    width: 80%;
    left: 10%;
    border-radius: 20px;
  }
  #vaptchaContainer {
    margin-left: calc(40% - 70px) !important;
  }
}
