.default-theme-container {
  background-color: rgba(247, 248, 253, 1);
}
.default-header-name {
  color: rgba(27, 28, 41, 1);
}
.default-header-info {
  color: rgba(27, 28, 41, 1);
  opacity: 0.78;
}
.default-header-query {
  color: rgba(27, 28, 41, 1);
}
.default-header-about {
  color: rgba(27, 28, 41, 1);
}
.default-header-contact {
  color: rgba(27, 28, 41, 1);
}
.default-choose-title {
  color: rgba(27, 28, 41, 1);
}
.default-level-container {
  background: rgba(247, 248, 253, 1);
  color: rgba(27, 28, 41, 1);
  transition: 0.4s;
  border: 2px solid #000000;
  opacity: 1;
  border-radius: 15px;
}

.default-level-container:hover {
  background: rgba(54, 72, 121, 1);
  color: white;
  border: none;
}
.default-level-container:hover .level-desc-check {
  color: white;
}
.default-level-container:hover .default-theme-level-price {
  color: white;
}
.default-level-container:hover .default-theme-level-name {
  color: white;
}

.level-desc-check {
  color: rgba(27, 28, 41, 1);
}

.default-theme-level-price {
  color: rgba(27, 28, 41, 1);
}

.default-theme-level-note {
  color: rgba(192, 192, 192, 1);
}
.default-theme-level-payment {
  background: #2882cf;
  opacity: 1;
  border-radius: 6px;
  color: white;
  font-weight: 500;
}
.default-footer {
  color: rgba(27, 28, 41, 1);
}
.mobile-header-name {
  color: white;
}
.mobile-header-info {
  color: white;
}
.mobile-page-contact {
  color: white;
}
.mobile-page-copyright {
  color: white;
  opacity: 0.6;
}
